/* 
User Story #9: My portfolio should have at least one media query.
User Story #10: The height of the welcome section should be equal to the height of the viewport.
User Story #11: The navbar should always be at the top of the viewport.
*/

:root {
  --body-bg-color: linen;
  --welcome-bg-color: bisque;
  --nav-bg-color: linen;
  --link-text-color: black;
  --button-bg-color: peachpuff;
  --button-text-color: black;
  --card-bg-color: bisque;
  --border-color: white;
}

body {
  background-color: var(--body-bg-color);
}

img {
	width: 300px;
  height: auto;
  padding: 25px 10px;
}

nav {
  height: 50px;
  background: var(--nav-bg-color);
  border: 4px solid var(--border-color);
}

section {
	padding-top: 50px;
}

ul {
	display: flex;
  flex-direction: row;
}

button {
  margin-top: 15px;
  background: var(--button-bg-color);
  color: var(--button-text-color);
  width: 100%;
  border: 3px solid var(--border-color);
}

a {
  color: var(--link-text-color);
}

#welcome-section {
	height: 100vh;
	display: flex;
	justify-content: center;
  align-items: center;
  background-image: url(https://images.unsplash.com/photo-1444877466744-dc2f2af2b931?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2378&q=80);
  background-position: center;
  height: 100vh;
  width: auto;
}

#welcome-text {
  background-color: var(--welcome-bg-color);
  border: 4px solid var(--border-color);
  text-align: center;
  padding: 25px;
}

#project-section h3 {
  text-align: center;
  padding-bottom: 20px;
}

#profile-link {
  display: block;
}

.card {
  background-color: var(--card-bg-color);
  border: 4px solid var(--border-color);
  margin: 15px;
}